@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

:root {
    --btn-color-bg: #FAF8F6;
    --btn-color-fg: #282828;
    --list-color: #f4f4f4;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #282828;
}

li, a, button {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    size: 16px;
    color: var(--list-color);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.itens-nav {
    list-style: none;
}

.itens-nav li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 23px;
}

.itens-nav li a { 
    transition: all 0.3s linear;
}

.itens-nav li a:hover {
    color: #ff964f;
}

.btn-github {
    padding: 9px 25px;
    background-color: var(--btn-color-bg);
    color: var(--btn-color-fg);
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s linear;
}

.btn-github:hover {
    color: #ff964f;
}

.content {
    padding: 30px 10%;
    font-family: 'Heebo', sans-serif;
}

.icon_git {
    align-items: center;
}

.fa-github {
    margin: 0 5px 0 5px;
    font-size: 18px;
}

.ltext, .ctext, .rtext {
    color: #FAF8F6;
    font-size: 20px;
}

.ltext {
    text-align: left;
}

.ctext {
    text-align: center;
}

.sub-menu {
    list-style: none;
    text-align: center;
}

.sub-menu li {
    display: inline-block;
    padding: 0 10%;
    font-size: 20px;
    background: #f4f4f4;
    color: #282828;
    border-radius: 14px;
}

.table {
    display: relative;
    margin-right: auto;
    margin-left: auto;
}

.table_menu {
    color: #222;
    background-color: #FAF8F6;

}

th, td {

    padding: 0 20px;
    font-size: 23px;
    border-radius: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

td {
    border: 3px solid black;
    border-style: inset;
    border-color: #5d9CEC;
    color: #FAF8F6;
}


#logo {
    /* top: 100%; */
    /* left: 100%; */
    display: block;
    animation: rotateHue 2s alternate infinite;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
    color: #f4f4f4;
    background: slateblue;
}

@keyframes rotateHue {
    to {
        filter: hue-rotate(1turn);
    }
}

