@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

:root {
    --btn-color-bg: #FAF8F6;
    --btn-color-fg: #282828;
    --list-color: #f4f4f4;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #282828;
}

li, a, button {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    size: 16px;
    color: var(--list-color);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.itens-nav {
    list-style: none;
}

.itens-nav li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 23px;
}

.itens-nav li a { 
    transition: all 0.3s linear;
}

.itens-nav li a:hover {
    color: #ff964f;
}

.btn-github {
    padding: 9px 25px;
    background-color: var(--btn-color-bg);
    color: var(--btn-color-fg);
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s linear;
}

.btn-github:hover {
    color: #ff964f;
}

.content {
    padding: 30px 10%;
    font-family: 'Heebo', sans-serif;
}

.icon_git {
    align-items: center;
}

.fa-github {
    margin: 0 5px 0 5px;
    font-size: 18px;
}

.ltext, .ctext, .rtext {
    color: #FAF8F6;
    font-size: 20px;
    align-items: center;
}

.sub-menu {
    list-style: none;
    text-align: center;
}

.sub-menu li {
    display: inline-block;
    padding: 0 10%;
}
